body{
    background-color: #f6fcff;
    padding: 15px;
    text-align: justify;
}

h1, h2{
    color: #9a83ed;
}

h2{
    font-size: 23px;
}

#logo{
    width: 97%;
}

p{
    font-size: 20px;
}

#img{
    width: 97%;
}

.card{
    background-color: #6e5ab846;
    padding: 20px;
    border-radius: 20px;
}
